* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header-right-items {
    float: right;
    padding-top: 10px;
}

.top-right-content {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #454545;
}

.top-right-content span::before {
    content: "   ";
}

/* Start of footer */
.footer-container {
    width: 100%;
    height: 200px;
    background-color: #222;
}

.debug {
    border: dashed 2px red;
}

/*
to do
+ footer, header > fixed
+ overflow scroll > main section
+ delete debug class from html